@model Echat.Application.ViewModels.Auth.LoginViewModel
<form asp-controller="Auth" asp-action="Login">
    <h1 class="text-center">ورود به حساب</h1>
    <div class="text-danger" asp-validation-summary="All"></div>
    <label>نام کاربری : </label>
    <input asp-for="UserName" type="text" class="form-control" />
    <label>کلمه عبور : </label>
    <input asp-for="Password" type="password" class="form-control" />
    <button type="submit" class="btn btn-success mt-4 float-end" style="margin-right: 8px;">ورود به حساب</button>
    <a href="#register" id="register-btn" class="btn btn-primary mt-4">ثبت نام</a>
</form>